<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>serveletControler</servlet-name>
  	<display-name>serveletControler</display-name>
  	<description></description>
  	<servlet-class>com.estefany.controladordedatos.serveletControler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServleletControler</servlet-name>
  	<display-name>ServleletControler</display-name>
  	<description></description>
  	<servlet-class>com.estefany.controladordedatos.ServleletControler</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serveletControler</servlet-name>
  	<url-pattern>/serveletControler</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServleletControler</servlet-name>
  	<url-pattern>/ServleletControler</url-pattern>
  </servlet-mapping>
</web-app>
